@import url(https://fonts.googleapis.com/css?family=Markazi+Text);
@import url(https://fonts.googleapis.com/css?family=Karla);

form {
    background-color: #495E57;
    font-family: 'Karla';
    font-weight: 570;
    color: #f8f8f8;
    padding-block: 2rem;
    display: grid;
    
}   

sup {
    color: #F4CE14;
}

.fullname {
    display: flex;
    margin-inline: 30rem;
    padding-bottom: 0.3rem;
    
    
    }
.firstname {
    flex: 50%;
    padding-inline: 1.5rem;
    background-color: none;
    text-align: left;
}
.lastname {
    flex: 50%;
    padding-inline: 1.5rem;
    background-color: none;
    text-align: left;
}

.contactInfo {
    display: flex;
    margin-inline: 30rem;
    padding-bottom: 0.3rem;
}

.phonenumber {
    flex: 50%;
    padding-inline: 1.5rem;
    background-color:none;
    text-align: left;
}

.email {
    flex: 50%;
    padding-inline: 1.5rem;
    background-color: none;
    text-align: left;
}

.reservation1 {
    display: flex;
    margin-inline: 30rem;
    
    padding-bottom: 1rem;
}

.date {
    flex:50%;
    padding-inline: 1.5rem;
    background-color: none;
    text-align: left;
}

.time {
    flex: 50%;
    padding-inline: 1.5rem;
    margin-left: 1.9rem;
    background-color: none;
    text-align: left;
}

.reservation2 {
    display: flex;
    margin-inline: 28rem;
    margin-left: 30rem;
    padding-bottom: 0.3rem;
}
.guest {
    flex: 50%;
    padding-inline: 1.5rem;
    background-color: none;
    text-align: left;
}
.occasion {
    flex:50%;
    
    padding-inline: 1.5rem;
    background-color: none;
    text-align: left;
}

input[type=text] {
    border-radius: 4px;
    padding: 6px 12px;
    border: 2px solid grey;
    background-color: #EDEFEE;
}

input[type=tel] {
    border-radius: 4px;
    padding: 6px 12px;
    border: 2px solid grey;
    background-color: #EDEFEE;
}

input[type=email] {
    border-radius: 4px;
    padding: 6px 12px;
    border: 2px solid grey;
    background-color: #EDEFEE;
}

input[type=date] {
    border-radius: 4px;
    padding: 6px 12px;
    border: 2px solid grey;
    background-color: #EDEFEE;
}

select {
    border-radius: 4px;
    padding: 6px 12px;
    border: 2px solid grey;
    background-color: #EDEFEE;
}

input[type=number] {
    border-radius: 4px;
    padding: 6px 12px;
    border: 2px solid grey;
    background-color: #EDEFEE;
}

textarea {
    width:26.5rem;
    height: 8rem;
    padding: 10px 12px;
    box-sizing: border-box;
    border: 2px solid grey;
    border-radius: 4px;
    background-color: #EDEFEE;
    resize: none;
  }

.textbox {
    background-color: none;
    margin-left: 30rem;
    margin-right: 28rem;
    padding-inline: 1.5rem;
    text-align: left;
    
}


.edit-button {
    background-color: #EE9972;
    border: none;
    color: black; font-family: 'Karla'; font-weight: bolder;
    padding: 10px 26px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 15px;
    margin: 4px 2px;
    cursor: pointer;
    border-radius: 16px;
    margin-left: 1rem;
    box-shadow: 0 2px 2px 0 #333333;
}

.edit-button:hover {
    background-color: #EE9972;
    box-shadow: 0 5px 1px #333333;
}

.edit-button:active {
  background-color: #EE9972;
  box-shadow: 1 4px #333333;
  transform: translateY(1px);
} 

.booking-button {
    background-color: #F4CE14;
    border: none;
    color: black; font-family: 'Karla'; font-weight: bolder;
    padding: 10px 26px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 15px;
    margin: 4px 2px;
    cursor: pointer;
    border-radius: 16px;
    margin-left: 1rem;
    box-shadow: 0 2px 2px 0 #333333;
}
  
.booking-button:hover {
    background-color: #F4CE14;
    box-shadow: 0 5px 1px #333333;
}

.booking-button:active {
  background-color: #F4CE14;
  box-shadow: 1 4px #333333;
  transform: translateY(1px);
} 

.booking-button:disabled {
    background-color: silver;
    box-shadow: 0 2px 2px 0 #333333;
    color: gray; font-family: 'Karla'; font-weight: bolder;
}

.confirm h3 {
    font-family: "Karla";
    margin-left: 31rem;
}

.confirm-button {
    background-color: #495E57;
    border: none;
    color: whitesmoke; font-family: 'Karla'; font-weight: bolder;
    padding: 10px 26px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 15px;
    margin: 4px 2px;
    cursor: pointer;
    border-radius: 16px;
    margin-left: 1rem;
    box-shadow: 0 2px 2px 0 #333333;
}

.confirm-button:hover {
    background-color: #495E57;
    box-shadow: 0 5px 1px #333333;
}

.confirm-button:active {
  background-color: #495E57;
  box-shadow: 1 4px #333333;
  transform: translateY(1px);
} 

.res-button {
    text-align: center;
    padding-block: 1rem;
}