@import url(https://fonts.googleapis.com/css?family=Karla);

/*
===============
   Nav Bar
===============
*/
.nav-main {
  margin:0;
  overflow: hidden;
  position: fixed; /* Set the navbar to fixed position */
  top: 0; /* Position the navbar at the top of the page */
  width: 100%; /* Full width */
  z-index: 1;
}

nav {
  display: flex;
  justify-content: space-around;
  align-content: center;
  padding-inline: 13rem;
  padding-bottom: 0.9rem;
  padding-top: 0.7rem;
  font-family: 'Karla';
  font-size: 18px; font-weight: 600;
  background-color: #EDEFEE;
  flex-wrap: wrap;
  border-bottom: 1.7px solid #E0E3E1;
}

nav ul li {
  display: inline-flex;
  justify-content: space-around;
  list-style: none;
  padding-left: 1rem;
  padding-right: 1rem;
}

nav a:link {
  color: black;
  text-decoration: none;
}
nav a:visited {
  color: black;
  text-decoration: none;
}
nav a:hover {
  color: black;
  text-shadow: 2px 2px 3px gray;
  text-decoration: none;
}
nav a:active {
  color: black;
  text-decoration: none;
}

img {
  padding-top: 0.2rem;
  width: 180px;
}