@import url(https://fonts.googleapis.com/css?family=Markazi+Text);
@import url(https://fonts.googleapis.com/css?family=Karla);
/*
====================
   Specials
====================
*/

.specials-header {
  background-color: white;
  display: flex;
  margin-inline: 16rem;
  padding-top: 6rem;
  flex-wrap: wrap;
}

.gallery {
  display: grid;
    width: 90%;
    height: 32rem;
    background-color: #EDEFEE;
    margin-inline: -1rem;
    border-radius: 16px 16px 0px 0px;
    box-shadow: 0 10px 20px 0 silver;
    
  }

  .gallery img {
    height: auto;
    width: 100%; height: 220px; object-fit: cover; object-position: 45% 50%;
    border-radius: 16px 16px 0px 0px;
    
  }

  /*.gallery-layout {
    background-color: aquamarine;
  }*/
  .whole-title {
    display: inline-flex;
  }

  .card-title {
    width: 11.5rem;
    font-family: 'Karla';
    font-size: 18px; font-weight: bold;
    text-align: left;
    padding: 15px;
  }

  .price-tag {
    width: 5rem;
    font-family: 'Karla';
    font-size: 16px; font-weight: bold; color: coral; 
    text-align: right;
    padding: 15px;
  }

  .desc {
    padding: 15px;
    text-align: left;
    font-family: 'Karla';
    font-size: 16px;
  }

  .card-footer {
    margin-bottom: 1rem;
    padding: 15px;
    vertical-align: bottom;
    text-align: left;
    font-family: 'Karla'; font-weight: bold;
    font-size: 16px;
  }
  
  * {
    box-sizing: border-box;
  }

  .responsive {
    padding-bottom: 3rem;
    display: inline-flex;
    width: 24%;
    margin-top: 0.1rem;
    margin-inline: -1.3rem;

  }
  

  @media only screen and (max-width: 700px) {
    .responsive {
      width: 49.99999%;
      margin: 6px 0;
    }
  }
  
  @media only screen and (max-width: 500px) {
    .responsive {
      width: 100%;
    }
  }

  @media only screen and (max-width: 700px) {
    .specials-header {
      width: 49.99999%;
      margin: 6px 0;
    }
  }
  
  @media only screen and (max-width: 500px) {
    .specials-header {
      width: 100%;
    }
  }