@import url(https://fonts.googleapis.com/css?family=Markazi+Text);
@import url(https://fonts.googleapis.com/css?family=Karla);
/*
====================
   CallToAction
====================
*/
h1 {
    font-family: 'Markazi Text';
    font-size: 64px; font-weight: lighter; line-height: 50px;
    margin-top: auto;
    margin-bottom: auto;
    padding-top: 1.5rem;
    
}
h2 {
    font-family: 'Markazi Text';
    font-size: 40px; font-weight: lighter; line-height: 35px;
    margin-top: auto;
    margin-bottom: auto;
    
    padding-bottom: 0.5rem;
}
.hero p {
    font-family: 'Karla'; line-height: 4px;
    color: white;
}

.banner {
    position: relative; 
    
  }
  
  .hero {
    display: grid;
    background-color: #495E57;
    padding-inline:15rem;
    padding-top: 0.5rem;
    padding-bottom: 2rem;
    margin-top: 0;
    position: relative;
  
  }
  
  .foodhero {
    display: grid;
    position: absolute;
    right: 16rem;
    top: 2rem;
    width: 310px; height: 350px; object-fit: cover; object-position: 100% 50%;
    border-radius: 16px;
  }
  
  header {
    width: 300px;
    text-align: left;
    margin-left: 1rem;
  }
  
  .hero-btn {
    background-color: #F4CE14;
    border: none;
    color: black; font-family: 'Karla'; font-weight: bolder;
    padding: 10px 26px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 15px;
    margin: 4px 2px;
    cursor: pointer;
    border-radius: 16px;
    margin-left: 1rem;
    box-shadow: 0 2px 2px 0 #333333;
  }

.hero-btn:hover {
    background-color: #F4CE14;
    box-shadow: 0 5px 1px #333333;
}

.hero-btn:active {
  background-color: #F4CE14;
  box-shadow: 1 4px #333333;
  transform: translateY(1px);
}
  .btn {
    display: flex;
    width: 300px;
    
  }

  @media (min-width: 700px) and (max-width: 1050) {
    .foodhero {
      margin-left: -2em;
      width: 100%;
    }
  }
  
  @media (max-width: 500px) {
    .foodhero {
      display: none;
    }
  }

  @media (max-width: 800px) {
    .foodhero {
      display: none;
    }
  }

 
