@import url(https://fonts.googleapis.com/css?family=Markazi+Text);
@import url(https://fonts.googleapis.com/css?family=Karla);

body {
    margin: 0;
    background-color: white;
}

form {
    background-color: #EDEFEE;
    font-family: 'Karla';
    padding-block: 2rem;
    border-radius: 16px;
}   

sup {
    color: red;
}

.fullname {
    display: flex;
    margin-inline: 30rem;
    padding-bottom: 0.3rem;
    
    
    }
.firstname {
    flex: 50%;
    padding-inline: 1.5rem;
    background-color: none;
    text-align: left;
}
.lastname {
    flex: 50%;
    padding-inline: 1.5rem;
    background-color: none;
    text-align: left;
}

.contactInfo {
    display: flex;
    margin-inline: 30rem;
    padding-bottom: 0.3rem;
}

.phonenumber {
    flex: 50%;
    padding-inline: 1.5rem;
    background-color:none;
    text-align: left;
}

.email {
    flex: 50%;
    padding-inline: 1.5rem;
    background-color: none;
    text-align: left;
}

.reservation1 {
    display: flex;
    margin-inline: 30rem;
    
    padding-bottom: 1rem;
}

.date {
    flex:50%;
    padding-inline: 1.5rem;
    background-color: none;
    text-align: left;
}

.time {
    flex: 50%;
    padding-inline: 1.5rem;
    margin-left: 1.9rem;
    background-color: none;
    text-align: left;
}

.reservation2 {
    display: flex;
    margin-inline: 28rem;
    margin-left: 30rem;
    padding-bottom: 0.3rem;
}
.guest {
    flex: 50%;
    padding-inline: 1.5rem;
    background-color: none;
    text-align: left;
}
.occasion {
    flex:50%;
    
    padding-inline: 1.5rem;
    background-color: none;
    text-align: left;
}

input[type=text] {
    border-radius: 4px;
    padding: 6px 12px;
    border: 2px solid grey;
}

input[type=tel] {
    border-radius: 4px;
    padding: 6px 12px;
    border: 2px solid grey;
}

input[type=email] {
    border-radius: 4px;
    padding: 6px 12px;
    border: 2px solid grey;
}

input[type=date] {
    border-radius: 4px;
    padding: 6px 12px;
    border: 2px solid grey;
}

select {
    border-radius: 4px;
    padding: 6px 12px;
    border: 2px solid grey;
}

input[type=number] {
    border-radius: 4px;
    padding: 6px 12px;
    border: 2px solid grey;
}

textarea {
    width:26.5rem;
    height: 8rem;
    padding: 10px 12px;
    box-sizing: border-box;
    border: 2px solid grey;
    border-radius: 4px;
    background-color: #f8f8f8;
    resize: none;
  }

.textbox {
    background-color: none;
    margin-left: 30rem;
    margin-right: 28rem;
    padding-inline: 1.5rem;
    text-align: left;
    
}


  
  